.forgot-password-page-container {
  min-height: 100vh;
}
.forgot-password-page-forgot-password-page {
  width: 100%;
  height: 1108px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 49.46516036987305px;
  background-image: url("linear-gradient(174deg, rgba(255, 112, 112, 1) 0%, rgba(255, 79, 79, 1) 100%)");
}
.forgot-password-page-group46 {
  top: 0px;
  left: 0px;
  width: 511.96441650390625px;
  height: 1108.0196533203125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(245, 248, 255, 1);
}
.forgot-password-page-group45 {
  top: 0px;
  left: 0px;
  width: 511.96441650390625px;
  height: 1077.1038818359375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.forgot-password-page-frame-elementsi-phone--status-bar {
  top: 0px;
  left: 0px;
  width: 511.96441650390625px;
  height: 54.411678314208984px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.forgot-password-page-time {
  top: 19.99317741394043px;
  left: 31.88042640686035px;
  width: 49px;
  height: 14px;
  position: absolute;
}
.forgot-password-page-battery {
  top: 21.022701263427734px;
  left: 463.7360534667969px;
  width: 30px;
  height: 14px;
  position: absolute;
}
.forgot-password-page-reception {
  top: 22.259326934814453px;
  left: 411.7975769042969px;
  width: 20px;
  height: 12px;
  position: absolute;
}
.forgot-password-page-wifi {
  top: 21.022701263427734px;
  left: 439.0032043457031px;
  width: 19px;
  height: 14px;
  position: absolute;
}
.forgot-password-page-rectangle263 {
  top: 1070.9207763671875px;
  left: 136.02908325195312px;
  width: 240px;
  height: 6px;
  opacity: 0.20;
  position: absolute;
  border-color: transparent;
  border-radius: 12.366290092468262px;
}
.forgot-password-page-text {
  top: 124.89952850341797px;
  left: 35.8623046875px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  font-size: 49.46516036987305px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.forgot-password-page-text2 {
  top: 201.57052612304688px;
  left: 42.04527282714844px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14.839548110961914px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.forgot-password-page-email-text-field {
  top: 304.2107238769531px;
  left: 43.28215408325195px;
  width: 424px;
  display: flex;
  padding: 0 0 0 19.78606414794922px;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 9.89303207397461px;
  flex-direction: column;
  background-color: var(--dl-color-systembackground_light-secondary);
}
.forgot-password-page-email {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.forgot-password-page-left-content {
  display: flex;
  padding: 13.602919578552246px 19.78606414794922px 13.602919578552246px 0;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
}
.forgot-password-page-text4 {
  color: var(--dl-color-labelcolor_light-tertiary);
  height: auto;
  font-size: 21.022693634033203px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 27.205839157104492px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.forgot-password-page-frame-button {
  top: 424.16375732421875px;
  left: 43.28215408325195px;
  width: 424px;
  height: 54.411678314208984px;
  display: flex;
  padding: 19.78606414794922px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 9.89303207397461px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 104, 0, 1);
}
.forgot-password-page-text6 {
  color: var(--dl-color-labelcolor_dark-primary);
  height: auto;
  font-size: 21.022693634033203px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 27.205839157104492px;
  font-stretch: normal;
  text-decoration: none;
}
.forgot-password-page-vectors {
  top: 970.7537841796875px;
  left: -0.00006940036837477237px;
  width: 1582.8851318359375px;
  height: 137.26580810546875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.forgot-password-page-vector {
  top: 16.076171875px;
  left: -0.00006940036837477237px;
  width: 1583px;
  height: 121px;
  position: absolute;
}
.forgot-password-page-vector1 {
  top: 0px;
  left: 0px;
  width: 1583px;
  height: 137px;
  position: absolute;
}
